body {
  background-color: #01040a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.ball {
  display: flex;
  /* 수평 정렬 */
  justify-content: center;
  /* 수직 정렬 */
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #264654;
  color: #e8c268;
  border-radius: 50%;
  font-size: 30px;
  margin: 20px;

  /* text 정렬 */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* line-height: 80px; */
}
