* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dark {
  background-color: black;
  color: white;
}
.dark-blue {
  background-color: black;
  color: blue;
}
.color_pink {
  color: hotpink;
}

img {
  width: 200px;
}
.rectangle {
  background-color: black;
  width: 100px;
  height: 100px;
}
