body {
  background-color: #01040a;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 100px;
  width: 100px;
  border-radius: 30%;
}
button:hover {
  background-color: lightslategrey;
}
button.refresh {
  height: 50px;
  width: 50px;
  /* background-color: white; */
}
img {
  height: 70px;
  width: 70px;
}
img.scissors {
  transform: rotate(-90deg);
}
img.refresh {
  height: 30px;
  width: 30px;
}
button,
div div {
  background-color: wheat;
  color: wheat;
}
